In [2]:
import pandas as pd
import numpy as np

# declare the file name to read and file name to export
FILE_IN  = "brain_stroke.csv"
FILE_OUT = "brain_stroke_clean.csv"

df = pd.read_csv(FILE_IN)
df.head(3)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1

In [3]:
# convert age to int 
df["age"] = np.round(df["age"]).astype(int)

In [51]:
df.head(3)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1

In [ ]:
# convert gender, ever_married and redidence type to 0  and 1 
df["gender"] = df["gender"].map({"Male":1, "Female":0}).astype("Int64")
df["ever_married"]   = df["ever_married"].str.lower().map({"yes":1, "no":0}).astype("Int64")
df["Residence_type"] = df["Residence_type"].str.lower().map({"urban":1, "rural":0}).astype("Int64")

In [53]:
df.to_csv(FILE_OUT, index=False)
print("Saved:", FILE_OUT)

Saved: brain_stroke_clean.csv